slotixs.uk {
	log {
		output stdout
		format console
	}

	handle /api/* {
		reverse_proxy api:9000
	}

	handle {
		reverse_proxy web:3000
	}
}

www.slotixs.uk {
	redir https://slotixs.uk{uri} permanent
}
